 <div class="input-field col s12">
    <select category="post[category]">
      <option value="" disabled selected>Choose your candy category</option>
      <% @category.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
    <label>Categories</label>
  </div>
 <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your chocolate</option>
        <option value="type1">Milk Chocolate</option>
        <option value="type2">Dark Chocolate</option>
        <option value="type3">White Chocolate</option>
        <option value="type4">Mexican Chocolate</option>
    </select>
    <label>Chocolate</label>
  </div>

  <a class="waves-effect waves-light btn-large"><%= button_to "Create candy", custom_candies_path(category: category.id) %></a>

