<form action="/custom_candies" method="post" value="category">

  <select name="chocolate" form="chocoloate">
    <label>Chocolate</label>
      <option value="category">Belgium</option>
      <option value="category">Milk Chocolate</option>
      <option value="category">Dark Chocolate</option>
      <option value="category">White Chocolate</option>
  </select>

  <select name="fillings" form="fillingsform">
    <label>fillings</label>
      <option value="Rum">Rum</option>
      <option value="Whiskey">Whiskey</option>
      <option value="Caramel">Caramel</option>
      <option value="Soylent">Soylent</option>
      <option value="Marzipan">Marzipan</option>
      <option value="Nougat">Nougat</option>
  </select>

    <p>
      <input type="checkbox" id="sea_salt" />
      <label for="sea_salt">Sea Salt</label>
    </p>
    <p>
      <input type="checkbox" id="almonds" />
      <label for="almonds">Almonds</label>
    </p>
    <p>
      <input type="checkbox" id="cherries" />
      <label for="cherries">Cherries</label>
    </p>
    <p>
      <input type="checkbox" id="espresso" />
      <label for="espresso">Espresso</label>
  </p>

 <input name="authenticity_token" type="hidden"
                                  value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">
 <input type="submit" value="Submit" />

</form>

