<% @candies.each do |candy| %>
<div class="well well-md">
  <%= render partial: "partials/each_candy", locals: {candy: candy} %>
  <p><%= button_to "Add to Cart", carts_path(candy_id: candy.id), class: "btn btn-success" %> </p>
</div>
<% end %>
