<h1><%= "Admin Dashboard" %></h1>
<h2><%= "Welcome #{current_user.name}" %></h2>
<h3>Do you want to <%= link_to "View All Candies", "/admin/candies" %>?</h3>
<h3>Or do you want to <%= link_to "Create Candy", "/admin/candies/new" %>?</h3>
