<div class="header primary-header red lighten-3">
  <% flash.each do |type, message| %>
    <%= content_tag :div, message %>
  <% end %>
  <i class="material-icons shopping_cart"></i>
  <%= link_to "View Cart", cart_path %> Total items: <%= @cart.total %>

    <header class='primary-header center-align'>
    <h1 class="title123">Custo Candy Co.</h1>
  </header>

  <%= render "partials/nav" %>

</div>
