<div class="header primary-header red lighten-3">

  <header class='primary-header center-align'>
    <div class=" container right-align">
      <i class="medium material-icons">shopping_cart</i>
      <p><%= link_to "View Cart", cart_path %> Total items: <%= @cart.total %></p>
    </div>

    <h1 class="title123">Custo Candy Co.</h1>


  </header>
    <div id="header-bar">
      <%= render "partials/nav" %>
    </div>

</div>
