<header class="primary-header center-align">
  <div class="custom-title valign-center"><img src="http://i.giphy.com/3o7abLLQlFeGJMn1As.gif" /></div>
  <div id="header-bar">
    <%= render "partials/nav" %>
  </div>
</header>
