<header class='primary-header container group text-center'>

  <div class="header well well-lg">
    <% flash.each do |type, message| %>
      <%= content_tag :div, message %>
    <% end %>
    <%= link_to "View Cart", cart_path %> Total items: <%= @cart.total %>
    <h1 class="title123">Custo Candy Co.</h1>
    <%= render "partials/nav" %>
  </div>


</header>
