  <header class='primary-header container group text-center'>
    <h1 class="title123">Custo Candy Co.</h1>
  </header>

  <nav class="nav primary-nav">
  <ul>
    <li><%= link_to "Home", root_path %></li><!--
 --><li><%= link_to "Candy", candies_path %></li><!--
 --><li><%= link_to "Candy Categories", categories_path %></li><!--
--></ul>
</nav>
