<header class="primary-header center-align">
  <div class="custom-title valign-center white-text darken-2"><h1>Custo Candy Co.</h1></div>
  <div id="header-bar">
    <%= render "partials/nav" %>
  </div>
</header>
