
<div class="text-center">
  <img src="http://media0.giphy.com/gifsu/l0G195a6IKqvSfKUM/giphy-glitter.gif" />
  <img src="http://media2.giphy.com/gifsu/xT5LMt3r07dr11YAWk/giphy-glitter.gif" />
</div>

<div class="text-center">
  <img src="http://media1.giphy.com/gifsu/3orifbDxYg8bB8ANYQ/giphy-glitter.gif" />
  <img src="http://media4.giphy.com/gifsu/xT5LMtOAeOrQ8BM4rm/giphy-glitter.gif" />
</div>


<br><br><br><br>
