<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--Md-D_E78--/c_fill,fl_progressive,g_north,h_358,q_80,w_636/1999wmuw0u8vcjpg.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Custo Candy Co.</h3>
          <h5 class="light grey-text text-lighten-3">Custo Candy Co. is our name, custom candy is our game!</h5>
        </div>
      </li>
      <li>
        <img src="http://www.brainscape.com/blog/wp-content/uploads/2014/07/Chocolate.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Do you like chocolate???</h3>
          <h5 class="light grey-text text-lighten-3">Because we got lots of that!!</h5>
        </div>
      </li>
      <li>
        <img src="http://www.jtawellness.com/wp-content/uploads/2015/10/chocolate.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>We practice DDD here!</h3>
          <h5 class="light grey-text text-lighten-3">Dream Driven Delights!!</h5>
        </div>
      </li>
      <li>
        <img src="http://www.costasmiles.com/images/Screen%20Shot%202014-04-16%20at%204_40_32%20PM.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>Custo Candy Co.</h3>
          <h5 class="light grey-text text-lighten-3">Need candy? We can help!</h5>
        </div>
      </li>
    </ul>
  </div>
