<table class="highlight">
  <thead>
    <tr>
      <th><strong>Order History</strong></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "Order #{order.id} #{order.format_date}", "/orders/#{order.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
