header {
  background-image: url('http://www.partyexcuses.com/images/uploads/holidayimages/bigstock-Small-Jelly-Beans-55958012.jpg');
}

.flash_info {
  background-color: #C8E6C9;
  color: #727272;
  text-align: center;
}

.flash_success {
  background-color: #C8E6C9;
  color: #727272;
  text-align: center;
}

.flash_notice {
  background-color: #C8E6C9;
  color: #727272;
  text-align: center;
}

.flash_error {
  background-color: #C8E6C9;
  color: #727272;
  text-align: center;
}

.nav-bar-padding {
  padding-right: 20px;
}

.custom-title {
  padding-top: 80px;
  padding-bottom: 80px;
}
