.flash_info {
  background-color: #C8E6C9;
  color: #727272;
  text-align: center;
}

.flash_success {
  background-color: #C8E6C9;
  color: #727272;
  text-align: center;
}

.flash_notice {
  background-color: #C8E6C9;
  color: #727272;
  text-align: center;
}
